.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}


.popup::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .5;
  z-index: -1;
}