.popup__input-item {
  display: inline-block;
  margin: 54px 0 0 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  font-size: 14px;
  line-height: 17px;
}


.popup__input-item:nth-last-of-type(1) {
  margin: 30px 0 0;
}