.profile__btn {
  margin: auto 0;
  padding: 0;
  width: 150px;
  height: 50px;
  outline: 2px solid white;
  background: url(../../../images/Vector_2.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: .6;
}



@media screen and (max-width: 980px) {
  .profile__btn {
    margin: 36px 0 0;
    width: 282px;
  }
}
