.popup__btn {
  margin: 48px 0 0;
  background: #000000;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 758px) {
  .popup__btn {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__btn:hover {
  opacity: .8;
}