.photo__like-btn {  
  margin: 0 15px 0 0;
  display: block;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
}


.photo__like-btn:active {
  background-image: url(../../../images/Union.svg);
}


.photo__like-btn:hover {
  opacity: 0.6;
}