.header {
  position: relative;
  margin: 45px 0 0;
  display: flex;
  width: calc(100% - (200px * 2));
  min-height: 74px;
  box-sizing: border-box;
}

.header::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  background: #545454;
  z-index: 0;
  width: 100%;
  opacity: .7;
}


@media screen and (max-width: 980px) {
  .header {
    width: calc(100% - (19px * 2));
  }
}